$nav-bckg-color: #373c3f;
$nav-font-color: #e0e0e0; 
$nav-font-size: 2rem;
$mobile-menu-width: 20rem;
$tile-main-bckg-color: #16b1c4;
$tile-font-color: #fff;
$secondary-title: rgba($tile-font-color, .6);
$arrow-link-size: 1rem;
$tile-link-bckg-color: #9a7189;
$content-tile-bckg: #ebebeb;
$content-tile-links-color: #088ca5;
$content-tile-color: rgba(#000, .7);

